{% extends 'vocab_trainer/layout.html' %}

{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Article</th>
            <th>Noun</th>
            <th>Last Tested</th>
            <th>Percentage Correct</th>
        </tr>
        {% for noun in nouns %}
            <tr>
                <td>{{ noun.id }}</td>
                <td>{{ noun.user_id }}</td>
                <td>{{ noun.article }} </td>
                <td>{{ noun.target_language_noun }}</td>
                <td>{{ noun.last_test }}</td>
                <td>{{ noun.percentage_correct }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'vocab_trainer:index' %}">Return</a>

{% endblock %}
