{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legion</title>
    <link rel="stylesheet" href="{% static 'legion/css/structure.css' %}">
    <script defer src="{% static 'legion/javascript/legion-bundle.js' %}"></script>
</head>
<body>
    <menu class="nav-menu-bar">
        <a class="home-link nav-link" href="{% url 'home_page:index' %}">PBDE</a>
        <button class="nav-link" id="rules-btn">Rules</button>
    </menu>
    <section class="section-main">
        <div class="container cont-main">
            <h1 class="header-main">Legion</h1>
            <div class="container cont-score invisible">
                <!-- <div class="player-number score-box">
                    <h3 class="score-box-text">Player</h3>
                    <p id="player-number">x</p>
                </div> -->
                <div class="score-box">
                    <h3 class="score-box-text">Total Score</h3>
                    <p id="total-score">0</p>
                </div>
                <div class="score-box">
                    <h3 class="score-box-text">Roll Score</h3>
                    <p id="roll-score">0</p>
                </div>
                <div class="score-box">
                    <h3 class="score-box-text">Keeping Score</h3>
                    <p id="keeping-score">0</p>
                </div>
            </div>
            <div class="container cont-dice">
                <div class="die" id="die-1">x</div>
                <div class="die" id="die-2">x</div>
                <div class="die" id="die-3">x</div>
                <div class="die" id="die-4">x</div>
                <div class="die" id="die-5">x</div>
                <div class="die" id="die-6">x</div>
            </div>
            <div class="container cont-message invisible">
                <p class ="roll-message">x</p>
            </div>
            <div id="cont-turn-btns" class="container btn-cont turn-btns hidden">
                <button class="game-btn" id="roll-btn">Roll</button>
                <button class="game-btn" id="end-btn">End Turn</button>
            </div>
            <div id="cont-mode-btns" class="container btn-cont mode-btns">
                <button class="game-btn" id="solo-btn">Solo</button>
                <!-- <button class="game-btn" id="pandp-btn" tabindex="0">Pass & Play</button>
                <button class="game-btn" id="ai-btn" tabindex="0">Verses AI</button> -->
            </div>
        </div>
        <modal class="hidden" id="rules-modal">
            <button id="close-modal-btn">&times;</button>
            <div>
                <h2 class="rules-header">Rules</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </modal>
        <div class="hidden" id="overlay"></div>
    </section>
</body>
</html>

