{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legion</title>
    <link rel="stylesheet" href="{% static 'legion/css/structure.css' %}">
    <script defer src="{% static 'legion/javascript/legion-bundle.js' %}"></script>
</head>
<body>
    <menu class="nav-menu-bar">
        <a class="home-link nav-link" href="{% url 'home_page:index' %}">PBDE</a>
        <button class="nav-link" id="rules-btn">Rules</button>
    </menu>
    <section class="section-main">
        <div class="container cont-main">
            <h1 class="header-main">Legion</h1>
            <div class="container cont-score invisible">
                <!-- <div class="player-number score-box">
                    <h3 class="score-box-text">Player</h3>
                    <p id="player-number">x</p>
                </div> -->
                <div class="score-box">
                    <h3 class="score-box-text">Total Score</h3>
                    <p id="total-score">0</p>
                </div>
                <div class="score-box">
                    <h3 class="score-box-text">Roll Score</h3>
                    <p id="roll-score">0</p>
                </div>
                <div class="score-box">
                    <h3 class="score-box-text">Keeping Score</h3>
                    <p id="keeping-score">0</p>
                </div>
            </div>
            <div class="container cont-dice">
                <div class="die" id="die-1">x</div>
                <div class="die" id="die-2">x</div>
                <div class="die" id="die-3">x</div>
                <div class="die" id="die-4">x</div>
                <div class="die" id="die-5">x</div>
                <div class="die" id="die-6">x</div>
            </div>
            <div class="container cont-message invisible">
                <p class ="roll-message">x</p>
            </div>
            <div id="cont-turn-btns" class="container btn-cont turn-btns hidden">
                <button class="game-btn" id="roll-btn">Roll</button>
                <button class="game-btn" id="end-btn">End Turn</button>
            </div>
            <div id="cont-mode-btns" class="container btn-cont mode-btns">
                <button class="game-btn" id="solo-btn">Play</button>
                <!-- <button class="game-btn" id="pandp-btn">Pass & Play</button>
                <button class="game-btn" id="ai-btn">Verses AI</button> -->
            </div>
        </div>
        <dialog id="rules-modal">
            <button id="close-modal-btn">&times;</button>
            <div class="dialog-content">
                <h2 class="rules-header">Rules</h2>
                <p>The object of the game is to score as many points as possible. You score by rolling certain combinations of dice.</p>
                <p>Begin by rolling the dice and then selecting at least one die to keep. The dice that are not kept can be rolled again. The dice that are selected to be kept must individually contribute to the score or form a scoring combination with other kept dice. If no scoring dice are rolled, zero points are awarded and a new attempt must begin i.e. all six dice must be rolled</p>
                <table>
                    <caption>Some dice score, and can be kept, individually</caption>
                    <tr>
                        <td>V’s</td>
                        <td>5 points per die</td>
                    </tr>
                    <tr>
                        <td>X’s</td>
                        <td>10 points per die</td>
                    </tr>
                </table>
                <p>Rolling four or more V’s results in the player’s entire score being reset to zero.</p>
                <table>
                    <caption>Some dice only score, and can only be kept, in groups of three</caption>
                    <tr>
                        <td>3 L’s</td>
                        <td>50 points per group</td>
                    </tr>
                    <tr>
                        <td>3 C’s</td>
                        <td>100 points per group</td>
                    </tr>
                    <tr>
                        <td>3 D’s</td>
                        <td>500 points per group</td>
                    </tr>
                    <tr>
                        <td>3 M’s</td>
                        <td>1000 points per group</td>
                    </tr>
                </table>
                <table>
                    <caption>Some scoring combinations require all six dice</caption>
                    <tr>
                        <td>Six of a kind</td>
                        <td>5000 points</td>
                    </tr>
                    <tr>
                        <td>One of each</td>
                        <td>2000 points</td>
                    </tr>
                    <tr>
                        <td>Three pairs</td>
                        <td>1000 points</td>
                    </tr>
                </table>
            </div>
        </dialog>
    </section>
</body>
</html>

