* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    background-color: black;
}

/* *** NAV BAR *** */

.nav-menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2rem;
    background-color: black;
}

.home-link {
    font-size: 2rem;
    color: white;
}

.nav-menu-list {
    display: flex;
}

.nav-menu-list-item {
    margin: 0 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.nav-menu-list-item > a {
    color: white;
}

.nav-menu-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.nav-menu-icon {
    height: 5rem;
    width: 5rem;
    color: grey;
}

.nav-menu-icon[name="close-outline"] {
    display: none;
}

/* *** HEADER SECTION *** */

.header-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section-cntr {
    width: 70%;
    height: 50%;
}

.header-text-cntr {
    font-size: 4rem;
    width: 45rem;
    color: white;
}

.header-text-cntr span {
    font-weight: 500;
}

.header-greeting-cntr {
    margin-bottom: 2rem;
}


/* *** ABOUT SECTION *** */



/* *** SUB PAGE *** */

.main-section {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.main-container > h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.main-container > p {
    font-size: 2.5rem;
}

.main-options-list > li {
    font-size: 2rem;
    padding: 1rem 0;
}

.main-options-list a {
    color: white;
}

/* *** FORMs *** */

.main-form {
    display: flex;
    flex-direction: column;
}

.main-form > * {
    margin-top: 2rem;
}

.main-form > div {
    display: flex;
    flex-direction: column;
}

.main-form > input {
    height: 3rem;
}

.main-form > div > label {
    font-size: 2rem;
}

.main-form > div > input {
    height: 3rem;
}

.main-form > div > span {
    font-size: 1.5rem;
    margin: 0;
}

/* *** MEDIA QUERIES ***  */

/* 1400px */
@media(max-width: 87.5em) {
    .about-box-container {
        flex-direction: column;
    }
}

/* 800px */
@media(max-width: 50em) {
    .skills-list {
        grid-template-columns: 20rem 20rem;
    }
}

/* 650px */
@media(max-width: 40em) {
    .nav-menu-btn {
        display: block;
        z-index: 1000;
    }

    .nav-menu-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        
        transform: translateX(100%);

        /* transition: all 0.5s; */

        /* hide visually */
        opacity: 0;
        /* hide from keyboard tabbing  */
        pointer-events: none;
        /* hide from screen readers */
        visibility: hidden;

    }

    .nav-open .nav-menu-list {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .behind-nav {
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .nav-menu-icon[name="close-outline"] {
        display: block;
    }

    .nav-open .nav-menu-icon[name="menu-outline"] {
        display: none;
    }
}

/* 550px  */
@media(max-width: 34em) {
    .about-section {
        padding: 1rem;
    }
    .skills-list {
        grid-template-columns: 1fr;
    }
}

/* 450px */
@media(max-width: 28em) {

    html {
        font-size: 56.25%;
    }

    .header-section > h1 {
        padding: 0 0.5rem;
    }
}

/* 350px */
@media(max-width: 22em) {

    .header-section > h1 {
        font-size: 6rem;
    }
}
