{% extends 'home_page/sub_page_layout.html' %}

{% block header %}Hi, {{ request.user.username }}{% endblock %}

{% block options-list %}
    <li><a class="nav-link home-page-link" href="{% url 'home_page:index' %}">Home</a></li>
    <li><a class="nav-link logout-link" href="{% url 'home_page:logout' %}">Logout</a></li>
    <li><a class="nav-link delete-account-link" href="{% url 'home_page:delete_account' %}">Delete Account</a></li>
    <li><a class="nav-link change-password-link" href="{% url 'home_page:change_password' %}">Change Password</a></li>
{% endblock %}
