{% extends 'home_page/layout.html' %}

{% block body %}
    <section class="section-sub-page">
        <div class="sub-page-cntr">
            <h2 id="user-greeting">Hi, {{ request.user.username }}</h2>
            <ul class="sub-page-options-list">
                <li><a href="{% url 'home_page:index' %}">Home</a></li>
                <li><a href="{% url 'home_page:logout' %}">Logout</a></li>
                <li><a href="{% url 'home_page:delete_account' %}">Delete Account</a></li>
            </ul>
        </div>
    </section>
{% endblock %}