{% extends 'home_page/layout.html' %}

{% block body %}
    <section class="section-sub-page">
        <div class="sub-page-cntr">
            <h2>Change your password</h2>
            {% if form %}
                <!-- {% if form.errors %}
                    <p class="form-error-msg">{{ form.errors }}</p>
                    <p class="form-error-msg">{{ form.non_field_errors }}
                {% endif %} -->
                <form id="change-password-form" class="main-form" action="{% url 'home_page:change_password' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input id="confirm-change-password-btn" type="submit" value="Change Password">
                </form>
            {% else %}
                <p id="password-changed-confirm-msg" class="sub-page-text">Password successfully changed</p>
            {% endif %}
            <ul class="sub-page-options-list">
                <li><a class="home-page-link" href="{% url 'home_page:index' %}">Home</a></li>
                <li><a class="home-page-link" href="{% url 'home_page:account' user=user %}">Back to account</a></li>
            </ul>
        </div>
    </section>
{% endblock %}