{% extends "home_page/sub_page_layout.html" %}

{% block header %}Delete account{% endblock %}

{% block form %}
    {% if check_for_delete %}
        <p id="confirm-delete-msg" class="helptext">Are you sure you want to delete your account?</p>
        <form class="main-form" action="{% url 'home_page:delete_account' %}" method="POST">
            {% csrf_token %}
            <input class="submit-btn confirm-delete-btn" type="submit" value="Confirm">
        </form>
    {% else %}
        <p id="account-deleted-msg" class="helptext">Account deleted</p>
    {% endif %}
{% endblock %}

{% block options-list %}
    {% if check_for_delete %}
        <li><a class="nav-link cancel-link" href="{% url 'home_page:account' user=user %}">Cancel</a></li>
    {% else %}
        <li><a class="nav-link home-page-link" href="{% url 'home_page:index' %}">Home</a></li>
    {% endif %}
{% endblock %}

