{% extends 'home_page/layout.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        <li class="nav-menu-list-item">
            <a href="{% url 'home_page:account' user=user %}">Account</a>
        </li>
    {% else %}
        <li class="nav-menu-list-item">
            <a href="{% url 'home_page:login' %}">Login</a>
        </li>
        <li class="nav-menu-list-item">
            <a href="{% url 'home_page:register' %}">Register</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="header-section">
        <div class="header-section-cntr">
            <div class="header-text-cntr">
                <p class="header-greeting-text">Hi. I'm <span>Phil</span>.</p>
                <p class="header-description-text">A full stack <span>developer</span> and <span>data analyst</span>.</p>
            </div>
            <!-- main line -->
            <svg
                id="mainline"
                width="1920"
                height="1080"
                viewBox="0 0 1920 1080"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                <g>
                    <path
                    style="fill:none;fill-opacity:1;stroke:#7700ff;stroke-width:4.99;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 2.3044975,47.17728 C 384.77684,-25.825236 402.15065,14.653475 408.19775,21.366883"
                    id="path1332" />
                </g>
            </svg>
        </div>
    </section>

    <section class="about-section">
        <div class="about-section-cntr">

            <div class="about-section-panel">
                <div class="panel-header-cntr">
                    <h2>About</h2>
                    <svg></svg>
                </div>
                <div class="panel-info-cntr"></div>
            </div>
            
            <div class="about-section-panel">
                <div class="panel-header-cntr">
                    <h2>Skills</h2>
                    <svg></svg>
                </div>
                <div class="panel-info-cntr"></div>
            </div>

        </div>
    </section>
    

{% endblock %}