{% extends 'home_page/layout.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        <li class="nav-menu-list-item">
            <a href="{% url 'home_page:account' user=user %}">Account</a>
        </li>
    {% else %}
        <li class="nav-menu-list-item">
            <a href="{% url 'home_page:login' %}">Login</a>
        </li>
        <li class="nav-menu-list-item">
            <a href="{% url 'home_page:register' %}">Register</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="header-section">
        <!-- <h1 id="header-text">Lorem ipsum</h1> -->
        <div class="header-section-outer-container">
            <div class="header-text-container">
                <p>Hi. I'm Phil.</p>
                <p>A full stack developer and data analyst.</p>
            </div>
        </div>
    </section>
    <section class="about-section">
        <div class="about-box-container">
            <div class="about-container">
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu arcu urna. Fusce tempus dapibus eros eget convallis. Praesent elit metus, scelerisque nec libero et, pulvinar mollis mauris. Vestibulum non orci vel nisl faucibus fermentum eu a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ante turpis, posuere quis suscipit at, semper ut magna. Suspendisse eleifend orci eu sapien venenatis, at elementum est sollicitudin. Mauris ultrices eros eget velit interdum eleifend. Mauris tincidunt, ligula eget tincidunt bibendum, enim felis mattis sapien, eu mollis nibh risus sit amet ante. Integer luctus at elit a.</p>
            </div>
            <div class="skills-container">
                <h3>Skills</h3>
                <ul class="skills-list">
                    <li>Lorem</li>
                    <li>ipsum</li>
                    <li>dolor</li>
                    <li>sit</li>
                    <li>amet</li>
                    <li>consectetur</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="apps-section">
        <h2>Apps</h2>
        <div class="apps-container">
            <div class="app-card">
                <div class="app-info">
                    <a href="">Language</a>
                </div>
            </div>
            <div class="app-card">
                <div class="app-info">
                    <a href="">Hours Tracker</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}