{% extends 'home_page/layout.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        <li class="nav-menu-list-item">
            <a href="{% url 'home_page:account' user=user %}">Account</a>
        </li>
    {% else %}
        <li class="nav-menu-list-item">
            <a href="{% url 'home_page:login' %}">Login</a>
        </li>
        <li class="nav-menu-list-item">
            <a href="{% url 'home_page:register' %}">Register</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="section-main section-header">
        <div class="section-header-cntr">
            <div class="header-text-cntr">
                <p>Hi. I'm <span>Phil</span>.</p>
                <p>A full stack <span>developer</span> and <span>data analyst</span>.</p>
            </div>
            <!-- main line -->

                <!-- <svg
                    class="mainline"
                    viewBox="0 0 412 50"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg">
                    <g>
                        <path
                        style="fill:none;fill-opacity:1;stroke:#7700ff;stroke-width:5;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="M 2.3044975,47.17728 C 384.77684,-25.825236 402.15065,14.653475 408.19775,21.366883" />
                    </g>
                </svg> -->

                <svg
                    class="mainline"
                    viewBox="-1 -1 411 48"
                    version="1.1"
                    id="svg5"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg">
                    <defs
                        id="defs2">
                        <linearGradient
                        id="linearGradient1249">
                        <stop
                            style="stop-color:#7700ff;stop-opacity:1;"
                            offset="0"
                            id="stop1245" />
                        <stop
                            style="stop-color:#cc00ff;stop-opacity:1;"
                            offset="1"
                            id="stop1247" />
                        </linearGradient>
                        <linearGradient
                        xlink:href="#linearGradient1249"
                        id="linearGradient1253"
                        x1="2.3044975"
                        y1="47.17728"
                        x2="407.42432"
                        y2="4.3343587"
                        gradientUnits="userSpaceOnUse" />
                        <linearGradient
                        xlink:href="#linearGradient1249"
                        id="linearGradient1363"
                        gradientUnits="userSpaceOnUse"
                        x1="2.3044975"
                        y1="47.17728"
                        x2="407.42432"
                        y2="4.3343587" />
                    </defs>
                    <g
                        id="layer1"
                        style="fill:none;fill-opacity:1;stroke:url(#linearGradient1253)"
                        transform="translate(-0.8094975,-2.6429396)">
                        <path
                        style="fill:none;fill-opacity:1;stroke:url(#linearGradient1363);stroke-width:5;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="M 2.3044975,47.17728 C 384.77684,-25.825236 402.15065,14.653475 408.19775,21.366883"
                        id="path1332" />
                    </g>
                </svg>
            
        </div>
    </section>

    <section class="section-main">
        <div class="section-main-cntr">
            <h2 class="section-heading">Skills</h2>
            <div class="skills-list-cntr">
                <ul class="skills-list">
                    <li>Python</li>
                    <li>Django</li>
                    <li>JavaScript</li>
                    <li>CSS</li>
                    <li>Sass</li>
                    <li>HTML</li>
                    <li>C#</li>
                    <li>React</li>
                    <li>Git</li>
                    <li>SQL</li>
                    <li>Numpy</li>
                    <li>Pandas</li>
                    <li>Scikit-learn</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section-main">
        <div class="section-main-cntr">
            <h2 class="section-heading">About</h2>
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu arcu urna. Fusce tempus dapibus eros eget convallis. Praesent elit metus, scelerisque nec libero et, pulvinar mollis mauris. Vestibulum non orci vel nisl faucibus fermentum eu a augue.</p> 
                <p>Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ante turpis, posuere quis suscipit at, semper ut magna. Suspendisse eleifend orci eu sapien venenatis, at elementum est sollicitudin. Mauris ultrices eros eget velit interdum eleifend. Mauris tincidunt, ligula eget tincidunt bibendum, enim felis mattis sapien, eu mollis nibh risus sit amet ante. Integer luctus at elit a.</p>
            </div>
        </div>
    </section>

    <section class="section-main section-apps">
        <div class="section-main-cntr apps-cntr">
            <h2 class="section-heading">Apps</h2>
        </div>
    </section>
    
{% endblock %}