{% extends 'home_page/layout.html' %}

{% block body %}
    <section class="main-section">
        <div class="main-container">
            <h2>Login</h2>

            {% if message %}
                <p id="error-msg">{{ message }}</p>
            {% endif %}
            <ul class="main-options-list">
                <li><a href="{% url 'home_page:register' %}">Register</a></li>
                <li><a href="{% url 'home_page:index' %}">Home</a></li>
            </ul>
        </div>
    </section>
{% endblock %}