{% extends 'home_page/layout.html' %}

{% block body %}
    <section class="main-section">
        <div class="main-container">
            <h2>Login</h2>
            <form class="main-form" action="{% url 'home_page:login' %}" method="POST" id="login-form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Login" id="login-btn">
            </form>
            {% if message %}
                <p id="error-msg">{{ message }}</p>
            {% endif %}
            <ul class="main-options-list">
                <li><a href="{% url 'home_page:register' %}">Register</a></li>
                <li><a href="{% url 'home_page:index' %}">Home</a></li>
            </ul>
        </div>
    </section>
{% endblock %}