{% extends 'home_page/sub_page_layout.html' %}

{% block header %}Privacy Statement{% endblock %}

{% block form %}
    <p>This Privacy Notice explains how we collect, use, and safeguard your information when you visit this website.</p>
    <h3>Information We Collect</h3>
    <p>If you do not register on the site, no information about you is collected or used. If you do register, we only collect information that is necessary for you to register and make full use of our website's services. When you register on our site, we collect your username and email address. This information is solely used to create and manage your account, authenticate you when you log in, and provide you with access to our services.</p>
    <h3>Use of Your Information</h3>
    <p>The information we collect is used solely to provide you with access to our services. Your username and email address are used for account management purposes. We do not share this information with any third parties.</p>
    <h3>Your Rights Regarding Your Information</h3>
    <p>You can see all the information that is held about you by visiting your account page after you register. You can delete your account at any time via your account page, which will result in the complete removal of your data from our system.</p>
    <h3>Data Security</h3>
    <p>We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please note that no method of transmission over the Internet, or method of electronic storage is 100% secure and we cannot guarantee absolute security.</p>
{% endblock %}

{% block options-list %}
    {% if user.is_authenticated %}
        <li><a class="nav-link home-page-link" href="{% url 'home_page:index' %}">Home</a></li>
    {% else %}
        <li><a class="nav-link register-page-link" href="{% url 'home_page:register' %}">Register</a></li>
    {% endif %}
{% endblock %}