{% extends 'home_page/sub_page_layout.html' %}

{% block header %}Sign up{% endblock %}

{% block form %}

    <form class="main-form" action="{% url 'home_page:register' %}" method="POST" id="create-user-form">
        {% csrf_token %}
        {{ form }}
        <input class="submit-btn" type="submit" value="Sign up" id="register-btn">
    </form>

{% endblock %}

{% block options-list %}
    <li><a class="nav-link login-page-link" href="{% url 'home_page:login' %}">Login</a></li>
    <li><a class="nav-link home-page-link" href="{% url 'home_page:index' %}">Home</a></li>
{% endblock %}
