{% extends 'home_page/layout.html' %}

{% block body %}
    <section class="section-sub-page">
        <div class="sub-page-cntr">
            <h2>Register</h2>
            {% if forms.errors %}
                {{ forms.errors }}
            {% endif %}
            <form class="main-form" action="{% url 'home_page:register' %}" method="POST" id="create-user-form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Register" id="register-btn">
            </form>
            <ul class="sub-page-options-list">
                <li><a class="login-page-link" href="{% url 'home_page:login' %}">Login</a></li>
                <li><a class="home-page-link" href="{% url 'home_page:index' %}">Home</a></li>
            </ul>
        </div>
    </section>
{% endblock %}