* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* *** NAV BAR *** */

.nav-menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1.5rem;
    
    /* background-color: brown; */
}

.home-link {
    font-size: 2rem;
}

.nav-menu-list {
    display: flex;
    
    /* background-color: aliceblue; */
}

.nav-menu-list-item {
    margin: 0 2rem;
    font-size: 2rem;
}

/* *** HEADER SECTION *** */

.header-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: blanchedalmond; */
}

.header-section > h1 {
    font-size: 10rem;
}

/* *** ABOUT SECTION *** */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem
}

.about-section > h2 {
    font-size: 5rem;
}

.about-box-container {
    display: flex;
}

.about-box-container > div {
    flex: 1;
    margin: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: rosybrown; */
}

.about-box-container > div > h1 {
    color: 3rem;
}

.skills-list {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
}

/* *** APPS SECTION *** */

.apps-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.apps-section > h2 {
    font-size: 5rem;
    padding: 5rem 0 3rem
}

.apps-list {
    display: grid;
    grid-template-columns: 20rem 20rem;
    padding: 0 0 5rem
}

.apps-list > li {
    font-size: 2rem;
    padding: 3rem;
}
