{% extends 'hours_tracker/layout.html' %}

{% block body %}

<main>
    <div class="cont-times">
        <div class="box-time-pair">
            <div class="box-time">10:00 AM</div>
            <p class="label-time">Hours over/under (inc)</p>
        </div>
        <div class="box-time-pair">
            <div class="box-time">10:00 AM</div>
            <p class="label-time">Hours over/under (exc)</p>
        </div>
        <div class="box-time-pair">
            <div class="box-time">10:00 AM</div>
            <p class="label-time">Finish time</p>
        </div>
        <div class="box-time-pair">
            <div class="box-time">10:00 AM</div>
            <p class="label-time">Start time</p>
        </div>
        <div class="box-time-pair">
            <div class="box-time">10:00 AM</div>
            <p class="label-time">Breaks length</p>
        </div>
        <div class="box-time-pair">
            <div class="box-time">10:00 AM</div>
            <p class="label-time">Target time</p>
        </div>
    </div>
</main>

{% endblock %}