{% extends 'hours_tracker/layout.html' %}

{% block body %}

<main>
    <div class="cont-timers">
        <div class="cont-time-pair">
            <p class="time">17:00</p>
            <p class="label-time">Start time</p>
        </div>
        <div class="cont-time-pair">
            <p class="time">17:00</p>
            <p class="label-time">Finish time</p>
        </div>
        <div class="cont-time-pair">
            <p class="time">17:00</p>
            <p class="label-time">Day length</p>
        </div>
        <div class="cont-time-pair">
            <p class="time">17:00</p>
            <p class="label-time">Breaks length</p>
        </div>
        <div class="cont-time-pair">
            <p class="time">17:00</p>
            <p class="label-time">Hours over/under (inc)</p>
        </div>
        <div class="cont-time-pair">
            <p class="time">17:00</p>
            <p class="label-time">Hours over/under (exc)</p>
        </div>
    </div>
    <div class="cont-buttons">

    </div>

    <div class="cont-buttons">
        <form>
            {% csrf_token %}
            <input type="submit" value="Start Day">
        </form>
        <form>
            {% csrf_token %}
            <input type="submit" value="End Day">
        </form>
        <form>
            {% csrf_token %}
            <input type="submit" value="Start Break">
        </form>
        <form>
            {% csrf_token %}
            <input type="submit" value="End Break">
        </form>
    </div>

</main>

{% endblock %}