{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'hours_tracker/css/styles.css' %}"> 
</head>
<body>
    <menu class="nav-menu-bar">
        <a class="home-link nav-link" href="{% url 'home_page:index' %}">PBDE</a>
        <button class="nav-link" id="rules-btn">Dummy Data</button>
    </menu>
    {% block body %}{% endblock %}
</body>
</html>